{{>header}}
<!-- END LOADER -->

<!-- Start header -->
{{!-- {{>navbar}} --}}
<!-- End header -->

<!-- section -->

<section class="inner_banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="full">
          <h3>Register | <a href="/login" class="text-secondary">Login</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end section -->

<!-- section -->
<div class="section layout_padding contact_section" style="background:#f6f6f6;">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="contact_form">
          <form action="/register" method="POST">
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <div class="full field">
                    <input type="text" placeholder="First Name" name="firstname" />
                  </div>
                  <div class="full field">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio1" name="gender" class="custom-control-input" value="male"
                        checked />
                      <label class="custom-control-label" for="customRadio1">Male</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio2" name="gender" class="custom-control-input" value="female">
                      <label class="custom-control-label" for="customRadio2">Female</label>
                    </div>
                  </div>
                  <div class="full field">
                    <input type="email" placeholder="Email Address" name="email" />
                  </div>
                  <div class="full field">
                    <input type="text" minlength="8" maxlength="12" placeholder="Phone Number" name="phone" />
                  </div>
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <div class="full field">
                    <input type="text" placeholder="Last Name" name="lastname" />
                  </div>
                  <div class="full field">
                    <input type="text" placeholder="Your Age" name="age" />
                  </div>
                  <div class="full field">
                    <input type="password" placeholder="Password *" name="password" />
                  </div>
                  <div class="full field">
                    <input type="password" placeholder="Confirm Password *" name="confirmpassword" />
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <fieldset>
                  <div class="full field">
                    <div class="center"><button type="submit">Register</button></div>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-4">
        <div class="full float-right_img">
          <img src="/images/img11.png" alt="#">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->
<!-- Start Footer -->
{{>footer}}