<div class="ulockd-home-slider">
  <div class="container-fluid">
    <div class="row">
      <div class="pogoSlider" id="js-main-slider">
        <div class="pogoSlider-slide" style="background-image:url(images/banner_img.png);">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="slide_text">
                  <h3>
                    <span span class="theme_color">Selamat Datang Programer Node JS</span>
                    <br><br>
                    Anda Sedang Belajar Restful API
                  </h3>
                  <br>
                  <h4>Kembangkang Produktfitas</h4>
                  <br>
                  <div class="full center">
                    <a class="contact_bt" href="/login">Login Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pogoSlider-slide" style="background-image:url(images/banner_img.png);">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="slide_text">
                  <h3>
                    <span span class="theme_color">Selamat Datang Programer Node JS</span>
                    <br><br>
                    Anda Sedang BelajarRestful API
                  </h3>
                  <br>
                  <h4>Kembangkang Produktfitas</h4>
                  <br>
                  <div class="full center">
                    <a class="contact_bt" href="/register">Register Here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .pogoSlider -->
    </div>
  </div>
</div>
<!-- End Banner -->
<!-- section -->
<div class="section tabbar_menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tab_menu">
          <ul>
            <li><a href="#"><span class="icon"><img src="images/i1.png" alt="#" /></span><span>University
                  Life</span></a></li>
            <li><a href="#"><span class="icon"><img src="images/i2.png" alt="#" /></span><span>Graduation</span></a>
            </li>
            <li><a href="#"><span class="icon"><img src="images/i3.png" alt="#" /></span><span>Athletics</span></a>
            </li>
            <li><a href="#"><span class="icon"><img src="images/i4.png" alt="#" /></span><span>Social</span></a>
            </li>
            <li><a href="#"><span class="icon"><img src="images/i5.png" alt="#" /></span><span>Location</span></a>
            </li>
            <li><a href="#"><span class="icon"><img src="images/i6.png" alt="#" /></span><span>Call us</span></a>
            </li>
            <li><a href="#"><span class="icon"><img src="images/i7.png" alt="#" /></span><span>Email</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>